.header{
  font-family: Impact, Charcoal, sans-serif;
}

.sansserif{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

input {
	width: 3.5em;
}


#sco {
  text-align:center;
}

#tim {
  text-align:center;
}



#myCanvas {
  position: absolute;
  margin-top: 25px;
  margin-left: 10px;
  background-color: #729ECE;
  float:auto;
  z-index: 2;
}

#header {
    width:733px;
    background-color:black;
    color:white;
    text-align:center;
    font-size: 115%;
    padding:5px;
}
#nav {

    line-height:40px;
    background-color:#eeeeee;
    height:450px;
    width:110px;
    float:left;
    padding:10px;
    padding-bottom: 2px;
}
#section {
    width:350px;


    text-align:justify;

}
#footer {
    width:255px;
    background-color:black;
    color:white;
    clear:both;
    padding:5px;
    padding-left: 483px;
}

.padding {
  padding-left: 4%;
}

#wrapper {
    margin-left:auto;
    margin-right:auto;
    width:auto;
}

#ver {
  font-size: 70%;
}

#main {
  margin-left:auto;
  margin-right: auto;
  position: absolute;
  text-align:justify;

}

#desc {
  position: absolute;
  display:inline-block;
  font-size: 80%;
  z-index: 1;
}
